*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wik {
    position: absolute;
    border: 2px solid none;
    width: 200px;
    height: 190px;
    margin-top: 180px;
    margin-left: 570px;
}
                
.wikia {
    border-bottom: 0.1px solid rgb(168, 161, 161);
    background-color: rgb(255, 255, 255);
    width: 1500px;
    height: 608px;
    padding-left: 320px;
    padding-top: 40px;    
}

.wikia1 {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 565px;   
}

#wikia1a {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 44px;
    font-family: 'Bodonitown', sans-serif; 
    font-size: 24px; 
    letter-spacing: 4px;
    text-align: center; 
    margin-left: 200px;                                        
}

#wikia1b {
    font-size: 32px;
}

#wikia2 {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 37px;
    font-family: 'Bodonitown', sans-serif; 
    font-size: 16px;     
    text-align: center; 
    margin-left: 200px;                                        
}

#wikia2a {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 418px;
    height: 65px; 
    display: flex;   
    justify-content: space-between;
    margin-left: 140px; 
}

#wikia2b {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 60px;  
    text-align: center; 
    line-height: 28px; 
    color: rgb(84, 89, 93);                                        
}

#wikia2c {
    font-family: sans-serif; 
    font-size: 15px;   
    color: blue;   
} 

#wikia2d {
    font-family: sans-serif; 
    font-size: 13px;
    color: rgb(84, 89, 93);
}

#wikia3 {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 522px;
    height: 65px; 
    display: flex;   
    justify-content: space-between;
    margin-left: 88px; 
}

#wikia4 {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 552px;
    height: 65px; 
    display: flex;   
    justify-content: space-between;
    margin-left: 70px; 
}

#wikia2b:hover {
    background-color: rgb(234, 236, 240);
}


.wikia5 {
    border: 2px solid blue;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 45px;    
    margin-left: 120px;
    margin-top: 10px; 
    display: flex;       
}

input {
    background-color: rgb(255, 255, 255);
    width: 340px;
    height: 41px; 
    border-color: rgb(255, 255, 255);    
}

#wikia5a {
    border: 2px solid;
    background-color: blue;
    width: 55px;
    height: 41px; 
    padding-top: 8px;    
    padding-left: 10px;  
}

#wikia5a:hover {
    cursor: pointer;
}

.wikia5b {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 340px;
    height: 41px;           
}

#wikia5c {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 55px;
    height: 40px;
    padding-top: 10px;    
}

#wikia5c:hover {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.wikia6 {
    border: 2px solid rgb(168, 161, 161);
    background-color: rgb(255, 255, 255);
    width: 301px;
    height: 40px;
   
    font-family: sans-serif; 
    font-size: 15px;   
    color: blue; 
    padding-top: 3px;  
}

#wikia6a {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 298px;
    height: 30px;
}

.wikia6b {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 457px;
    height: 50px;
    margin-left: 115px; 
    margin-top: 30px;
    display: flex;
}



#wikia7 {
    border-bottom: 2px solid rgb(168, 161, 161);
    background-color: rgb(255, 255, 255);
    width: 75px;
    height: 27px;
}

.wiki10 {
    border-bottom: 0.1px solid rgb(168, 161, 161);
    background-color: rgb(255, 255, 255);
    width: 1500px;
    height: 600px;
    padding-left: 70px;
    display: flex;   
}

.wiki10a {
    border: 2px solid none;
    width: 362px;
    height: 380px;    
}

#wiki10b {
    border: 2px solid none;
    width: 358px;
    height: 150px;
    display: flex;
    padding-top: 40px;
}

#wiki10c {
    border: 2px solid rgb(248, 249, 250);
    background-color: rgb(248, 249, 250);
    width: 358px;
    height: 190px;
    display: flex;
    padding-top: 10px;
}

#wiki10d {
    border: 2px solid none;
    width: 50px;
    height: 50px;
}

#wiki10e {
    border: 2px solid none;
    width: 290px;
    height: 100px; 
    font-family: sans-serif; 
    color: rgb(84, 89, 93);
    font-size: 13.7px; 
    line-height: 19px;  
}

#wiki10f {
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    width: 44px;
    height: 44px;
}

#wiki10g {
    border: 2px solid none;
    width: 290px;
    height: 160px;
    font-family: sans-serif; 
    color: rgb(84, 89, 93); 
    font-size: 13.7px; 
    line-height: 19px; 
    margin-left: 5px; 
}

#wiki12 {
    text-decoration: none;
    color:  rgb(51, 102, 204);
}

#wiki12:hover {
    text-decoration: underline;
}

#wiki12a {
    text-decoration: none;
    color: rgb(51, 102, 204);
    font-size: 13px;
}

#wiki12a:hover {
    text-decoration: underline;
}
.wiki16 {
    border: 2px solid blue;
    width: 900px;
    height: 400px; 
    padding-top: 50px; 
    padding-left: 50px; 
    display: flex; 
    flex-flow: row wrap;
    
}

#wiki16a {
    border: 2px solid yellow;
    width: 280px;
    height: 70px; 
    font-family: sans-serif;     
    font-size: 13.7px; 
    line-height: 20px; 
    display: flex;   
}

#wiki16a:hover {
    background-color: rgb(234, 236, 240);
}

#wiki16b {    
    border: 2px solid green;
    width: 50px;
    height: 50px; 
}

#wiki16c {    
    border: 2px solid green;
    width: 200px;
    height: 60px;     
}

#wiki16z {
  text-decoration: none;
  color: rgb(51, 102, 204);
}

#wiki16w {
color: rgb(84, 89, 93);
font-size: 12.5px;
}