@media screen and (max-width: 820px) {
    .wik {
        
        border: 2px solid none;
        width: 200px;
        height: 190px;
        margin-top: 5pxpx;
        margin-left: 10px;
    }

   }